= form_for @admin_delegation do |f|
  - if @admin_delegation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_delegation.errors.count, "error")} prohibited this admin_delegation from being saved:"
      %ul
        - @admin_delegation.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
